.my-footer {
    font-size: 80%;
    color: white;
    background-color: #212121;
    height: 5em;
    margin-top: 2em;
    padding: 1em;
}

.notie-container {
    box-shadow: none;
}    

.swal2-actions {
    z-index: auto;
}  
